body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  box-shadow: 2px 2px 10px #ccc;
  margin-bottom: 10px;
}
.download-container {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}

/* general styles */
.label-badge {
  /* float: right; */
  margin-bottom: 10px;
}

/* document editing */
.sans-serif-font {
  font-family: "Lucida Grande", "Palatino", "Gentium", "Palatino Linotype", "GentiumAlt", "Times New Roman", "Times", "Arial Unicode MS", serif;
}
.attr-modal .alert {
  text-align: center;
  font-size: 26px;
}

/* description */
.text-toolbar-group .btn {
  margin-right: 10px;
  text-transform: capitalize;
}
.text-toolbar-group .secondary-highlighters {
  margin-left: -10px;
}
.text-toolbar-group .secondary-highlighters .btn {
  margin-right: 0px;
  padding: 0.15rem 0.25rem;
  opacity: 0.5;
}
.text-toolbar-group .sub-category {
  margin-right: 2px;
}
.highlight-header button {
  text-transform: capitalize;
}
.highlight-body .line-holder {
  display: flex;
  justify-content: space-between;
}
.highlight-body .line-holder i {
  cursor: pointer;
}
.highlight-body height:after {
  font-size: 50%;
  vertical-align: top;
  content: "height";
}
.highlight-body width:after {
  font-size: 50%;
  vertical-align: top;
  content: "width";
}
.highlight-body depth:after {
  font-size: 50%;
  vertical-align: top;
  content: "depth";
}

/* original text */
.line-numbers {
  user-select: none;
  color: #aaa;
}
.line-numbers, .raw-text-lines {
  margin-bottom: 3px;
}
#mouseover_box {
  position: fixed;
  background: white;
  padding: 5px;
  display: none;
}
.raw-text-lines .erased {
  background : linear-gradient(to bottom, #DAF7A6 0%, #DAF7A6 50%, #72BCE8 51%, #72BCE8 100%  );
  /* background-size: 80px;
  background-image: -webkit-linear-gradient(0deg, red 20px, blue 20px, blue 40px, yellow 40px, yellow 60px, green 60px, green 80px);
  background-image: -ms-linear-gradient(0deg, red 20px, blue 20px, blue 40px, yellow 40px, yellow 60px, green 60px, green 80px); */
}

/* xml */
.CodeMirror {
  height: auto;
}
lb {
  display: block;
}
